.form {
  max-width: 530px;
  padding: 55px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;

  h2 {
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    color: #363636;
  }

  .form_wrapper {
    display: grid;
    grid-template-columns: 2fr, 1fr;
  }

  .form_text_password {
    font-weight: 500;
    text-align: start;
    font-size: 12px;
    line-height: 16px;
    color: #a7a7a7;
    padding: 20px 0 0 12px;
  }

  .form_text_password:hover {
    color: #f42c4f;
  }
}

@media (max-width: 768px) {
  .form_background {
    h1 {
      max-width: 620px;
    }
    .form {
      max-width: 620px;
    }
  }
}

@media (max-width: 600px) {
  .form_background {
    .content_wrapper {
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px;
      h1 {
        max-width: 400px;
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 15px;
      }
      .form {
        max-width: 400px;
        padding: 25px;
        h2 {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .form_background {
    .content_wrapper {
      padding-left: 15px;
      padding-right: 15px;
      h1 {
        max-width: 370px;
        font-size: 20px;
        line-height: 30px;
      }
      .form {
        max-width: 370px;
        padding: 20px;
        .arrow_link {
          display: block;
          align-items: center;
          .form_text {
            font-size: 15px;
            line-height: 20px;
          }
          a {
            .login-svg__arrow {
              justify-content: inherit;
              align-items: center;
              padding-top: 5px;
              .arrow_text {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .form_background {
    .content_wrapper {
      padding-left: 10px;
      padding-right: 10px;
      h1 {
        max-width: 350px;
        font-size: 18px;
        line-height: 28px;
      }
      .form {
        max-width: 350px;
      }
    }
  }
}
