.search_notification--wrapper {
  width: 825px;
  text-align: center;
  .search_notification--title {
    margin-top: 200px;
    font-size: 32px;
    color: #a7a7a7;
  }
}

@media (max-width: 768px) {
  .search_notification--wrapper {
    width: 640px;
    .search_notification--title {
      margin-top: 226px;
    }
  }
}

@media (max-width: 440px) {
  .search_notification--wrapper {
    width: 288px;
    .search_notification--title {
      margin-top: 134px;
      font-size: 18px;
    }
  }
}
