.form {
  max-width: 530px;
  padding: 55px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;

  h2 {
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    color: #363636;
  }

  .form_text_validation {
    font-weight: 500;
    text-align: start;
    font-size: 12px;
    line-height: 16px;
    color: #a7a7a7;
    padding: 2px 0 0 12px;
  }

  .checkbox_eye {
    position: absolute;
  }

  .error_message {
    padding: 2px 0 0 12px;
    text-align: start;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #f42c4f;
  }

  .error_message_password {
    position: absolute;
    padding: 2px 0 0 12px;
    text-align: start;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #f42c4f;
  }
}
