.book_wrapper {
  .book_reviews {
    width: 100%;
    .book_title_wrapper {
      display: flex;
      max-width: 300px;
      .book_reviews_btn {
        padding-top: 22px;
        border: none;
        background: none;
        cursor: pointer;
        .reviews_open {
          transform: rotateX(180deg);
          transition: ease-in-out 0.3s;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .book_wrapper .book_reviews {
    max-width: 500px;
  }
}

@media (max-width: 520px) {
  .book_wrapper .book_reviews {
    max-width: 340px;
    .book_info--btn {
      width: 100%;
    }
  }
}
