.layout_header {
  position: relative;
}

.layout_header::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 10px;
  box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05),
    -4px 4px 4px rgba(54, 54, 54, 0.05);
}

.layout_content_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 35px 165px 0 165px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .layout_app_container {
    flex: 1;
  }
}

@media (max-width: 1200px) {
  .layout_content_wrapper {
    padding: 35px 45px 0 45px;
  }
}

@media (max-width: 850px) {
  .layout_header::after {
    box-shadow: none;
  }
}

@media (max-width: 740px) {
  .layout_content_wrapper {
    padding: 35px 20px 0 20px;
  }
}

@media (max-width: 380px) {
  .layout_content_wrapper {
    padding: 35px 5px 0 10px;
  }
}
